<%= flash[:notice]%>
<%= flash[:notice2]%>
<ul>

<% @urls.each do |url| %>


<form action="/bookmarks/delete" method="post"><li><%= url %></form></li>


<% end %>

</ul>

<form action="/bookmarks/new" method="get">
<input type="submit" value='create bookmark' />

</form>
